.rojo{background-color:red;}
.amarillo{background-color:yellow;}
.verde{background-color:green;}
.anaranjado{background-color:orange;}
.azul{background-color:blue;}
.superior{
    
}


.rectangulo-titulo{
 height:80px;
}
h1{
    color:white;
}
@media screen and (min-width: 40em) {
    .contenedor-rectangulo-titulo{
    margin-bottom:-40px;
    margin-top:-40px;
    }
}
